This XML file does not appear to have any style information associated with it. The document tree is shown below.
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>
https://archive.org/download/AirShou_20170829/AirShou.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>
https://shou.tv/air_shou.png
</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<false/>
<key>url</key>
<string>
https://shou.tv/air_shou.png
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>AirShou.com</string>
<key>bundle-version</key>
<string>1.2</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>تم رفع من قبل اوس</string>
</dict>
</dict>
</array>
</dict>
</plist>